{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cichociemni</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

        <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.js"></script>
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.css"
            type="text/css"
        />
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
        <link rel="stylesheet" href="{% static "tooltips.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "main.css" %}" type="text/css"/>
    </head>
    <body>
        <div class="main-container">
            <div class="pos-f-t">
                <nav class="navbar navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <h5 class="text-white h4">Lokalizacje zrzutów Cichociemnych</h5>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="city-input" class="text-white h4">Miasto</label>
                                <select id="city-input" class="form-control" name="city-input" data-live-search="true">
                                    {%  for city in cities %}
                                        <option data-tokens="{{ city.name }}" value="{{ city.coordinates }}">{{ city.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="year-input" class="text-white h4">Rok</label>
                                <select id="year-input" class="form-control" name="year-input" data-live-search="true">
                                    {%  for map_year in map_years %}
                                        <option data-tokens="{{ map_year }}" value="{{ map_year }}">{{ map_year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="author-input" class="text-white h4">Autor</label>
                                <select id="author-input" class="form-control" name="author-input" data-live-search="true">
                                    {%  for author in authors %}
                                        <option data-tokens="{{ author }}" value="{{ author }}">{{ author }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="region-input" class="text-white h4">Region</label>
                                <select id="region-input" class="form-control" name="region-input" data-live-search="true">
                                    {%  for region in regions %}
                                        <option data-tokens="{{ region }}" value="{{ region }}">{{ region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="solo-map-container" class="map-container h-95 d-flex flex-column" style="display: none" >
                <nav id="soloMapMenu" class="menu"></nav>
                <div id="distanceSolo" class="distance-container"></div>
                <div id="historicSolo" class="map"></div>
            </div>

            <div id="comparison-map-container" class="map-container h-95 d-flex flex-column" style="display: none">
                <div id="comparasion-map" >
                    <nav id="comparisonMapMenu" class="menu"></nav>
                    <div id="distanceCompare" class="distance-container"></div>
                    <div id="streets" class="map"></div>
                    <div id="historic" class="map"></div>
                </div>
            </div>
        </div>
        <div id="hidden-map-container" class="map-container" style="display: none" >
                <div id="hiddenMap" class="map"></div>
            </div>
        <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
        <script src="{% static 'keyboardControls.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>
        <script src="{% static 'tooltips.js' %}"></script>

    </body>
</html>